@charset "UTF-8";
.tags_input {
    display:flex;
    flex-direction:row;
    align-items:center;
    width: 500px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border:1px solid #d1d1d1;
    overflow: hidden;
}
#wordTags {
    display:flex;
    flex-wrap:nowrap;
    border:0;
}
#wordInput{
    width:100%;
    border:0;
}
/* 删除选中标签 */
.tag-checked-name {
    display:inline-block;
    position:relative;
    height: 16px;
    border-radius: 1px;
    color:#4abee0;
    font-size:12px;
    line-height:16px;
    padding:0 20px 0 3px;
    background-color: #f7fdff;
    border: solid 1px #4abee0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right:1px;
}
.tag-checked-name:first-of-type {
    margin-left: 0px;
}
.tag-checked-name em {
   display:block;
    position:absolute;
    top:3px;
    right:3px;
    width:12px;
    height: 12px;
    cursor:pointer;
    transform: rotate(45deg);
}
.tag-checked-name em:after {
    display:block;
    position:absolute;
    content:'';
    top:5px;
    width:12px;
    height:1px;
    background:#4abee0;
}
.tag-checked-name em:before {
    display:block;
    position:absolute;
    content:'';
    top:0px;
    left:5px;
    width:1px;
    height: 12px;
    background:#4abee0;
}