HTML,BODY {
	WIDTH: 100%; HEIGHT: 100%
}
BODY {
	MARGIN: 0px; PADDING: 0px; FONT-FAMILY: arial,verdana,sans-serif
}
DIV {
	FONT-SIZE: 12px
}
.autoOF {
	OVERFLOW: auto
}
.folder00 {
	WIDTH: 35px; HEIGHT: 16px; BACKGROUND: url(icon.0.0.gif) top left no-repeat
}
.folder01 {
	WIDTH: 35px; HEIGHT: 16px; BACKGROUND: url(icon.0.1.gif) top left no-repeat
}
.folder10 {
	WIDTH: 35px; HEIGHT: 16px; BACKGROUND: url(icon.1.0.gif) top left no-repeat
}
.folder11 {
	WIDTH: 35px; HEIGHT: 16px; BACKGROUND: url(icon.1.1.gif) top left no-repeat
}
.folder20 {
	WIDTH: 35px; HEIGHT: 16px; BACKGROUND: url(icon.2.0.gif) top left no-repeat
}
.folder21 {
	WIDTH: 35px; HEIGHT: 16px; BACKGROUND: url(icon.2.1.gif) top left no-repeat
}
.folderLine {
	BACKGROUND: url(line.1.gif) top left repeat-y
}
.folderChild {
	POSITION: relative; TOP: 0px; LEFT: -13px
}
.folderChilds {
	POSITION: relative; TOP: 0px; LEFT: -18px
}
.file30 {
	WIDTH: 30px; HEIGHT: 16px; BACKGROUND: url(icon.3.0.gif) top left no-repeat
}
.file40 {
	WIDTH: 30px; HEIGHT: 16px; BACKGROUND: url(icon.4.0.gif) top left no-repeat
}
.hand {
	CURSOR: pointer
}
.hidden {
	DISPLAY: none
}
.hiddenOF {
	OVERFLOW: hidden
}
.helpList {
	PADDING-LEFT: 10px
}
.helpList H1 {
	MARGIN: 0px; PADDING: 0px; FONT-SIZE: 14px; FONT-FAMILY: "Trebuchet MS"; COLOR: #333333; FONT-WEIGHT: bold
}
.helpList H2 {
	MARGIN: 0px; PADDING: 5px 0px 0px 0px; FONT-SIZE: 10px; COLOR: #666666; FONT-WEIGHT: normal
}
.helpLine {
	WIDTH: 6px; BACKGROUND: url(line.2.gif); CURSOR: pointer
}
.title {
	DISPLAY: block; PADDING-TOP: 2px; LINE-HEIGHT: 12px; FONT-SIZE: 12px; COLOR: #333333
}
.ctitle {
	DISPLAY: block; PADDING-TOP: 2px; LINE-HEIGHT: 12px; FONT-SIZE: 12px; COLOR: #666666
}
.ctitle A {
	COLOR: #666666; TEXT-DECORATION: none
}
.ctitle A:hover {
	TEXT-DECORATION: underline
}