BODY {

	FONT-FAMILY: arial,verdana; COLOR: #333333

}

TABLE {

	MARGIN: 0px; FONT-SIZE: 12px

}

A {

	COLOR: #666666; TEXT-DECORATION: none

}

A:hover {

	COLOR: #333333; TEXT-DECORATION: none

}

P,DIV {

	FONT-SIZE: 12px; LINE-HEIGHT: 150%

}

P.code {

	PADDING: 10px; BACKGROUND: #FCFCFC; BORDER: #CCCCCC 1px dashed

}

P.copyright {

	FONT-SIZE: 11px; COLOR: #999999; BORDER-TOP: #CCCCCC 1px solid; PADDING-TOP: 10px; TEXT-ALIGN: right

}

P.copyright A {

	COLOR: #999999; TEXT-DECORATION: none

}

P.copyright A:hover {

	TEXT-DECORATION: underline

}

H2 {

	PADDING-BOTTOM: 15px; BORDER-BOTTOM: #CCCCCC 1px solid

}

.tables {

	BACKGROUND: #CCCCCC; BORDER: 0px

}

.tables TD {

	BACKGROUND: #FFFFFF

}